<div class="d-flex justify-content-center">
  <div class="w-50 p-5 shadow bg-white">
    <h2 class="text-center text-info">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100 py-2 border-info rounded" %>
      </div>

      <div class="field mt-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "w-100 py-2 border-info rounded" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions mt-2">
        <%= f.submit "Log in", class: "py-2 w-100 bg-info border-0 text-white rounded" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>