 <ul class="list-inline">
  <% @posts.each do |post| %>
    <li class="shadow mb-4 p-3 rounded bg-white">
      <h4><%= link_to post.title, user_post_path(@user.id, post.id), class: 'text-muted text-decoration-none' %></h4>
      <p><%= truncate post.text, length: 150 %></p>
      <div class="d-flex justify-content-end">
        <div class="d-flex">
          <div class="mx-2">
            <span><%= post.comments_counter %></span>
            <i class="fas fa-comment mx-1"></i>
          </div>
          <div class="mx-2 d-flex justify-center">
            <span><%= post.likes_counter %></span>
            <%= render partial: 'posts/like', locals: { url: "/users/#{@user.id}/posts/#{post.id}/likes", post: post } %>
          </div>
        </div>
        <% if can? :destroy, post %>
          <%= button_to "Delete Post", user_post_path(@user.id, post.id), :method => :delete, class: "py-2 px-3 border border-danger rounded mb-3 text-danger" %>
        <%end%>
      </div>
      <ul class="list-inline">
        <% post.recent_comments.each do |cmt| %>
          <li class="border-start px-4 border-4 border-info px-2 shadow py-1 mb-2">
            <h5><%= cmt.author.name %></h5>
            <p><%= cmt.text %></p>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>